<nav class="navbar bg-dark navbar-dark">
  <a href="/mainPage" class="nav__link" data-link>Main page</a>

  <a href="/cars" class="nav__link" data-link>Cars</a>
  <a href="/drivers" class="nav__link" data-link>Drivers</a>
  <a href="/carDrivers" class="nav__link" data-link>Car-Drivers</a>
  <a href="/bids" class="nav__link" data-link>Bids</a>
  <button (click)="logout()" *ngIf="isLoggedIn" class="nav__link btn-dark" type="button">Log out</button>
  <a href="/Sky" class="nav__link" data-link>To the moooooon(err)!</a>
</nav>
<div class="container">
  <div id="app" class="container">
    <router-outlet></router-outlet>
  </div>
</div>
